@model Model_mvc.Models.Employee

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   <h1> @Model.Id</h1>

    <h1> @Model.Address</h1>

    <h1> @Model.Name</h1>
</body>
</html>
