@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @using (Html.BeginForm())
        {
            <label>Name</label>@Html.TextBox("Name")<br /><br />
            <label>Address</label>@Html.TextBox("Address")<br /><br />
            <label>Phone</label>@Html.TextBox("Phone")<br /><br />
          
            <input type="submit" value="Login" />
        }
    </div>
</body>
</html>
