
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>about</title>
</head>
<body>
    <div>
        <h1> This is a about page....</h1>
        <h1>Temp Data Is: @TempData["U3"] </h1>
        
        <h1>ViewBag Data Is: @ViewBag.U2  </h1>
        <h1>View Data Is: @ViewData["U1"]  </h1>

    </div>
</body>
</html>
