
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Contect</title>
</head>
<body>
    <div> 
        <h1> THis is a Contect page ......</h1>
    </div>
</body>
</html>
