
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1> This is home index page.......</h1>
        <h1> @TempData["U1"]</h1>
    </div>
</body>
</html>
