
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <input type="button" value="Get Button" onclick="AjaxByGet()" /><br /><br />
    </div>
    <div>
        <input type="button" value="Post Button" onclick="AjaxByPost()" />
    </div>
    <hr />
    <from>
        <label>Name</label>
        <input type="text" id="Name" /><br /><br />
        <label>Age</label>
        <input type="text" id="Age" /><br /><br />
        <label>City</label>
        <input type="text" id="City" />
    </from>

    <script src="~/Scripts/jquery-3.7.1.js"></script>
    <script src="~/Scripts/MyJSfile.js"></script>

</body>
</html>
