
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>about</title>
</head>
<body>
    <div>


        //<h1>UserName is : @ViewBag.Username</h1>

        @if (ViewBag.user == "ok")
        {
            <h1>Password is : @ViewData["Password"]</h1>

        }




    </div>





    <div> 

        @{ 
            int a = 13;
            int b = 2;
            int mul = a * b;

        }
        <h1> this is a multiplay value @mul</h1>
        This isn a about page .......
    </div>
</body>
</html>
