
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginByFormController</title>
</head>
<body>
    <div> 
        <h1> LoginByFormController ......</h1>
        <h1> Loginend done by ....</h1>
    </div>
</body>
</html>
