
@model Mobel_Built_HTML_HELPER.Models.Student
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StudentInfo</title>
</head>
<body>
    <div>
        <h1> @Model.Id</h1>
        <h1> @Model.Name</h1>
        <h1> @Model.Age</h1>
        <h1> @Model.Phone</h1>
        <h1> ok</h1>
    </div>
</body>
</html>
