


<h2>Index</h2>
<h3>this is index page</h3>
<nav>
    <ul>
    
        <li>@Html.ActionLink("Home Page","Index","HOme")</li>
        <li>@Html.ActionLink("Home Page", "Index", "HOme")</li>
        <li>@Html.ActionLink("Home Page", "Index", "HOme")</li>

    </ul>
</nav>